/* Chris Dill - Main stylesheet */

body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

main
{
	font-family: 'Open Sans', 'Times New Roman', sans-serif;
	padding-top: 30px;
	padding-bottom: 30px;
	padding: 30px;
}

main p
{
	color: #C8C8C8;
	font-size: 18px;
}

h1, h2, h3
{
	line-height: 1.2;
}

nav, header, footer, .cookiesNotification
{
  font-family: 'Roboto', 'Arial', sans-serif;
}

nav
{
/*	background-color: #161616;*/
  background-color: #255C99;
}

#box
{
	line-height: 1.6;
  	font-size: 18px;
}

/* Cookies Notification */
#cookiesNotification 
{
  text-align: center;
  border-bottom: 0.01em solid #000;
}

#cookiesInfo 
{
  display: inline-block;
  margin: 0em;
  padding: 0.75em 0.5em;
  width: 87%;
  font-size: 0.9em;
  line-height: 1.5em;
}

#cookiesInfo a 
{
  color: #0099e6;
}

#cookiesClose 
{
  display: inline-block;
  margin: 0em;
  padding: 0.35em 0.5em 0.25em 0em;
  float: right;
  cursor: pointer;
  font-size: 1.3em;
}

/*menu bar*/
.logo
{
	width: 45px;
}

.navbar-brand
{
	padding-left: 10px;
	font-size: 22px;
}

/*nav link colour change*/
.navbar-nav .nav-item .nav-link, .link 
{
  color: lightgray;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link, .link:hover
{
  color: white;
  text-decoration: underline;
}

/* spacing between nav items*/
.navbar-nav > li
{
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
}

.img-icon
{	
	display: inline-block;
	width: 100px;
	margin-left: 10%;
	margin-right: 10%;
}

.content
{
	background-color: #161616;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 30px;
}

/*adjust for mobile*/
@media (max-width:560px)
{
	.navbar-brand
	{
		font-size: 18px;
	}

	.navbar-nav > li
	{
	  font-size: 12px;
	}
}