/* Chris Dill - Main stylesheet */

nav, header, footer, .cookiesNotification
{
  font-family: 'Roboto', 'Arial', sans-serif;
}

/* Cookies Notification */

#cookiesNotification 
{
  text-align: center;
  border-bottom: 0.01em solid #000;
}

#cookiesInfo 
{
  display: inline-block;
  margin: 0em;
  padding: 0.75em 0.5em;
  width: 87%;
  font-size: 0.9em;
  line-height: 1.5em;
}

#cookiesInfo a 
{
  color: #0099e6;
}

#cookiesClose 
{
  display: inline-block;
  margin: 0em;
  padding: 0.35em 0.5em 0.25em 0em;
  float: right;
  cursor: pointer;
  font-size: 1.3em;
}

/*menu bar*/

nav
{
	background-color: #161616;
  height: 55px;
}

.navbar-brand
{
	padding-left: 3%;
	font-size: 30px;
}

/*nav link colour change*/
.navbar-nav .nav-item .nav-link, .link 
{
  color: lightgray;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link, .link:hover
{
  color: white;
  text-decoration: underline;
}

/* spacing between nav items*/
.navbar-nav > li
{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.img-icon
{	
	display: inline-block;
	width: 100px;
	margin-left: 10%;
	margin-right: 10%;
}

/*main content box*/
main
{
	font-family: 'Open Sans', 'Times New Roman', sans-serif;
	min-height: 95vh;
	padding-top: 30px;
	padding-bottom: 30px;
}

main p
{
	color: #C8C8C8;
	font-size: 18px;
}

hr 
{
	background-color: white;
}

.content
{
  /*background-color: #262626;*/
	background-color: #161616;
	color: white;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 30px;
}

/* footer box */

footer
{
	background-color: #161616;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*adjust for mobile*/
@media (max-width:560px)
{
	.navbar-brand
	{
		font-size: 24px;
	}

	.navbar-nav > li
	{
	  font-size: 15px;
	}
}