nav, header, footer
{
  font-family: 'Roboto', 'Arial', sans-serif;
}

/*top bar*/
nav
{
	background-color: #262626;
	font-size: 20px;
}

.navbar-brand
{
	padding-left: 3%;
	font-size: 30px;
}

/*nav link colour change*/
.navbar-nav .nav-item .nav-link, .link 
{
  color: lightgray;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link, .link:hover
{
  color: white;
  text-decoration: underline;
}

/* spacing between nav items*/
.navbar-nav > li
{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.img-icon
{	
	display: inline-block;
	width: 100px;
	margin-left: 10%;
	margin-right: 10%;
}

/*main box in center*/
main
{
	font-family: 'Open Sans', 'Times New Roman', sans-serif;
	min-height: 91vh;
	padding-top: 100px;
	padding-bottom: 100px;
}

main p
{
	color: #C8C8C8;
	font-size: 18px;
}

hr 
{
	background-color: white;
}

.content
{
	background-color: #262626;
	color: white;
	border-style: solid;
	border-color: black;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 30px;
}

footer
{
	background-color: #262626;
}

/*adjust for mobile*/
@media (max-width:560px)
{
	.navbar-brand
	{
		font-size: 24px;
	}

	.navbar-nav > li
	{
	  font-size: 15px;
	}
}