/*setup fonts/background*/
*
{
	margin: 0;
	background-image: url("res/space1.jpg");
	font-family: "Roboto", "Times New Roman", monospace;
}

/*header*/
.top
{
	background-color: #1B2021;
	color: lightgray;
	width: 100%;
	text-align: center;
}
 
/*page links*/
nav
{
	background-color: #1B2021;
	width: 100%;
	height: 5%;
	text-align: center;
	list-style: none;
	display: inline-block;
	margin: 0 auto;
	border-top: solid black 2px;
	border-bottom: solid black 2px;
}

nav > ul
{
	border: 1px solid #ccc;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav > li
{
	display: inline;
}

/*nav bar links*/
.link
{
	width: 20%;
	color: white;
	position: relative;
	display: inline-block;
	padding: 10px;
	transition: all 0.5s ease-in-out;
	text-decoration: none;
	text-align: center;
	opacity: 0.9;
	font-size: 20px;
}

/*hidden underline before hover*/
.link::before
{
	background-color: lightgray;
	content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

/*show hidden underline on hover*/
.link:hover::before
{
	visibility: visible;
  transform: scaleX(1);
}

/*change colour on hover to highlight option*/
.link:hover
{
	/*change this to 60,100,150,1?*/
	color: #0080FF; 
}

/*track current page selection*/
.selected
{
	color: #3399ff;
	font-weight: bold;
}

/*content box*/
main
{
	width: 75vw;
	min-height: 70vh;
	margin: 0 auto;
	margin-top: 10vh;
	border-style: solid;
	border-color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #494949;
}

.contentlink
{
	display: inline-block;
	width: 10%;
	margin: 0% 5%;
}

/*external links*/
.icon
{
	opacity: 1.0;
	display: inline-block;
	width: 80%;
	height: 80%;
	object-fit: fill;
}

/*dim image to show its hovered*/
.contentlink:hover
{
	filter: brightness(70%);
}

/*project links(github etc)*/
.project
{
	color: white;
	transition: all 0.5s ease-in-out;
	text-decoration: none;
}

/*hightlight and underline text links*/
.project:hover
{
	color: rgba(60,100,150,1);
	text-decoration: underline;
}

/*main title*/
.first
{
	color: white;
	font-size: 6vh;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* main box for content*/
.content
{
	background-color: #494949;
	color: white;
	height: 81%;
	width: CALC(100% - padding-left + padding-right);
	padding: 3%;
	padding-left: 12%;
	padding-right: 12%;
	font-size: 20px;
	opacity: 1;
}

/*content titles*/
main.h2
{
	font-weight: bold;
	color: white;
}

/*content paragraphs*/
.words
{
	color: lightgray;
	padding: 0.8em 0em;
	opacity: 0.9;
}

.thing
{
	text-align: center;	
}

/*fix at bottom of window*/
footer
{
	background-color: #1B2021;
	color: lightgray;
  width: 100%;
  height: 40px;
	margin-top: 2%;
	border-top-color: black;
	border-top-style: solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.workpls
{
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 14px;
	text-align: center;
}

/*adjust for mobile*/
@media (max-width:480px)
{
	.first
	{
		font-size: 4vh;
	}
	
	main
	{
		margin-top: 5vh;
		width: 90vw;
	}

	.content
	{
		font-size: 15px;
		padding-left: 5%;
		padding-right: 5%;
	}

	.link
	{
		width: 100%;
		font-size: 15px;
	}
	
	.contentlink
	{
		width: 10%;	
	}
	
	.icon
	{
		width: 100%;
		height: 100%;
	}
	
	footer
	{
		font-size: 9px;
	}
}