/*background*/
body
{
	margin: 0;
	background-image: url("res/space1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

main
{
	width: 75vw;
	max-height: 95vh;
	margin: 0 auto;
	margin-top: 10vh;
	border-style: solid;
	border-color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 0.9;
}

h2
{
	font-size: 1.2em;
}

.project
{
	color: lightgray;
	transition: all 0.5s ease-in-out;
	text-decoration: none;
}

.project:hover
{
	color: rgba(60,100,150,1);
	text-decoration: underline;
}

.link
{
	width: 24%;
	color: white;
	display: inline-block;
	padding: 10px;
	transition: all 0.5s ease-in-out;
	padding-right: 20px;
	text-decoration: none;
	text-align: center;
	opacity: 0.9;
	/* margin: 0 auto; */
	/*background-color: green;*/
}

.link:hover
{
	color: rgba(0, 128, 255, 1); /* change this to 60,100,150,1? */
	text-decoration: underline;
	transform: scale(0.9);
}

.test
{
	margin-top: 0;
}

.pagetitle
{
	margin: 0 auto;
	
	padding-bottom: 2%;
	padding-top: 2%; 
	color: white;
	text-align: center;
	font-size: 3vh;
}

.first
{
	padding-bottom: 0% !important; 
}

.subtitle
{
	padding-top: 1.5%; 
	color: white;
	text-align: center;
	font-size: 2vh;
}

nav > ul
{
	border:1px solid #ccc;
	border-width:1px 0;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}

nav > li
{
	display: inline;
}

nav
{
	text-align: center;
	list-style:none;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	border-top: solid black 4px;
	border-bottom: solid black 4px;
}

.top
{
	background-color: RGBA(124, 124, 124, 255);
	color: white;
	width: 100%;
	height: 15%;
}

.content
{
	background-color: RGBA(64, 64, 64, 255);
	color: lightgray;
	height: 81%;
	width: 92%;
	padding: 4%;
	font-size: 18px;
}

footer
{
	background-color: black;
	color: white;
	width: 100vw;
	height: 4%;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	font-size: 12px;
	text-align: center;
	opacity: 0.9;
}

/*media query for mobile*/
@media (max-width:480px)
{
	main
	{
		width: 90vw;
	}

	.content
	{
		font-size: 15px;
	}
}
