body
{
	margin: 0;
	background-image: url("res/space1.jpg");
	font-family: "Roboto", "Times New Roman", monospace;
}

/*main content*/
main
{
	width: 70vw;
	/*max-height: 95vh;*/
	margin: 0 auto;
	margin-top: 10vh;
	border-style: solid;
	border-color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 0.9;
}

/*project links(github etc)*/
.project
{
	color: white;
	transition: all 0.5s ease-in-out;
	text-decoration: none;
}

.project:hover
{
	color: rgba(60,100,150,1);
	text-decoration: underline;
}

/*nav bar links*/
.link
{
	width: 24%;
	color: lightblue;
	display: inline-block;
	padding: 10px;
	transition: all 0.5s ease-in-out;
	text-decoration: none;
	text-align: center;
	opacity: 0.9;
	font-size: 18px;
}

.link:hover
{
	color: rgba(0, 128, 255, 1); /*change this to 60,100,150,1?*/
	text-decoration: underline;
	transform: scale(0.9);
}

.test
{
	margin-top: 0;
}

.first
{
	color: lightgray;
	padding-bottom: 0% !important;
	padding-top: 2%; 
	margin: 0 auto;
	text-align: center;
	font-size: 3vh;
}

h2
{
	font-size: 1.2em;
}

/*.first
{
	padding-bottom: 0% !important; 
}*/

.second
{
	padding-top: 1.5%; 
	color: lightgray;
	text-align: center;
	font-size: 2vh;
}

/*top bar title*/
.top
{
	background-color: #212121;
	color: lightgray;
	width: 100%;
	height: 20%;
}

/*menu bar links*/
nav
{
	background-color: #303030;
	width: 100%;
	height: 15%;
	text-align: center;
	list-style: none;
	display: inline-block;
	margin: 0 auto;
	border-top: solid black 4px;
	border-bottom: solid black 4px;
}

nav > ul
{
	border:1px solid #ccc;
	border-width:1px 0;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}

nav > li
{
	display: inline;
}

.content
{
	background-color: #424242;
	color: lightgray;
	height: 81%;
	width: CALC(100% - padding-left + padding-right);
	padding: 4%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 18px;
}

/*test opacity for text*/
.words
{
	opacity: 0.7;
}

footer
{
	background-color: #424242;
	color: white;
	width: 100%;
	height: 3%;
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	border-top-color: black;
	border-top-style: solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*media query for mobile*/
@media (max-width:480px)
{
	main
	{
		width: 90vw;
	}

	.content
	{
		font-size: 15px;
	}
}
