body
{
	margin: 0;
	background-image: url("res/space1.jpg");
	font-family: "Roboto", "Times New Roman", monospace;
}

/*main content*/
main
{
	width: 70vw;
	/*max-height: 95vh;*/
	margin: 0 auto;
	margin-top: 10vh;
	border-style: solid;
	border-color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*testing icon sizing(width/height limiting or change image src)*/
.icon
{
	opacity: 1.0;
	display: inline-block;
	max-width: 10vw;
	max-height: 10vh;
}

/*project links(github etc)*/
.project
{
	color: white;
	transition: all 0.5s ease-in-out;
	text-decoration: none;
}

.project:hover
{
	color: rgba(60,100,150,1);
	text-decoration: underline;
}

/*nav bar links*/
.link
{
	width: 24%;
	color: white;
	position: relative;
	display: inline-block;
	padding: 10px;
	transition: all 0.5s ease-in-out;
	text-decoration: none;
	text-align: center;
	opacity: 0.9;
	font-size: 18px;
}

.link::before
{
	content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #AAA;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.link:hover::before
{
	visibility: visible;
  transform: scaleX(1);
}

.link:hover
{
	color: #0080FF; /*change this to 60,100,150,1?*/
	/*text-decoration: underline;*/
}

.test
{
	margin-top: 0;
}

/*top bar title*/
h2
{
	font-size: 1.2em;
}

.first
{
	color: lightgray;
	padding-bottom: 0% !important;
	font-size: 3vh;
	margin: 0;
	padding-left: 20px;
	padding-top: 10px;
}

.second
{
	color: lightgray;
	font-size: 2vh;
	margin: 0;
	padding-left: 20px;
	padding-bottom: 10px;
}

.top
{
	background-color: #404040;
	color: lightgray;
	width: 100%;
	height: 20%;
/*	text-align: center;*/
}

/*menu links*/
nav
{
/*	background-color: #303030;*/
	width: 100%;
	height: 20%;
	text-align: center;
	list-style: none;
	display: inline-block;
	margin: 0 auto;
	border-top: solid black 2px;
	border-bottom: solid black 2px;
	opacity: 0.9;
}

nav > ul
{
	border: 1px solid #ccc;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav > li
{
	display: inline;
}

.content
{
	background-color: #202020;
	color: lightgray;
	height: 81%;
	width: CALC(100% - padding-left + padding-right);
	padding: 4%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 18px;
	opacity: 0.9;
}

/*test opacity for text*/
.words
{
	opacity: 0.7;
}

footer
{
	background-color: #404040;
	color: lightgray;
	width: 100%;
	height: 3%;
	position: fixed;
	bottom: 0;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	border-top-color: black;
	border-top-style: solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*adjust for mobile*/
@media (max-width:480px)
{
	main
	{
		width: 90vw;
	}

	.content
	{
		font-size: 15px;
		padding-left: 5%;
		padding-right: 5%;
	}

	.link
	{
		width: 100%;
		font-size: 14px;
	}
	
	footer
	{
		font-size: 9px;
	}
}
