<head>
  <!-- General meta tags -->
  <meta charset="utf-8">
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="keywords" content="chris, games, software, web, developer, computer science">
  <meta name="author" content="{{ .Site.Params.author }}">

  <!-- Open Graph tags -->
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta property="og:title" content="{{ .Title }}" />

  <title>{{ .Title }}</title>

  <!-- Load CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/stylesheet.css" rel="stylesheet">
  <link href="/assets/css/themes.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes=96x96>
</head>