<header>
  <nav class="navbar navbar-expand navbar-dark">
    <a class="navbar-brand" href="/">
      <img class="logo" width="105" height="105" src="{{ site.logo }}" alt="Chris Dill">{{ site.name }}
    </a>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/blog">Blog</a></li>

      <li><a href="{{ site.github }}">
        <img class="icon" src="/assets/images/github.svg" alt="Github"></a>
      </li>
      <li><a href="{{ site.linkedin }}">
        <img class="icon" src="/assets/images/linkedin.svg" alt="LinkedIn"></a>
      </li>
    </ul>
  </nav>
</header>