<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="logo" src="{{ site.logo }}" alt="Chris Dill">{{ site.name }}
      </a>

      <!-- Button to toggle menu -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links-->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="mailto:chris.rj.dill@gmail.com">Email</a></li>
          <li><a href="https://github.com/ChrisDill">Github</a></li>
          <li><a href="https://www.linkedin.com/in/chris-dill/l">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>