<header>
  <!-- Menu -->
  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container">
      <img class="logo" src="/assets/logo.png" alt="Logo">
      <a class="navbar-brand" href="/index.html">Chris Dill</a>

      <!-- Button to toggle menu -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links-->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li><a href="/portfolio.html">Portfolio</a></li>
          
          <li><a href="mailto:chris.rj.dill@gmail.com"><i class="fas fa-envelope"></i>Email</a></li>
          
          <li><a href="https://github.com/ChrisDill"><i class="fab fa-github"></i>Github</a></li>
          
          <li><a href="https://www.linkedin.com/in/chris-dill/l"><i class="fab fa-github"></i>LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
