
/*Default theme*/
:root {
  --primary-color: #ffffff;
  --secondary-color: #C8C8C8;
  --font-color: #ffffff;
  --bg-color: #232629;
  --heading-color: #ffffff;
}

/* Dark theme */
html[data-theme='dark'] {
  --background-color: #383c4a;
  --font-color: #ffffff;
  --headings-color: #ffffff;
  --header-color: #2e323e;
  --site-name-color: #ffffff;;
  --site-description-color: #ffffff;
  --nav-link-color: #57cc8a;
  --nav-link-hover-color: #ffffff;
  --link-color: #8bb8df;
  --link-color-hover: 8bb8df;
  --border-color: #3d3d3d;
  --footer-color: #2e323e;
}

/* General */
body {
  background-color: #181818;
  background: url(/assets/images/background1.webp) no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: white;
}

hr {
  background-color: white;
}

.logo {
  width: 45px;
  border-radius: 5px;
}

.navbar-brand {
  color: black;
  font-size: 1.4rem;
  padding: 0;
}

/* Main bar at top */
header {
  background-color: #255c99;
  border-bottom: 2px solid #ffffff;
  color: white;
}

nav li {
  padding: 5px 10px;
  font-size: 1rem;
  text-align: center;
}

/* Link effects for the top nav bar */
nav li a {
  color: #ffffff;
  text-decoration: none;
}

nav li a:hover {
  border-bottom: 3px solid white;
  color: white;
  text-decoration: none;
}

/* Link effects for the top nav bar */
nav a:hover {
  text-decoration: underline;
}

nav a:hover, main a:hover, footer a:hover {
  color: white;
}

/* Link effects */
main a, footer a {
  color: #2f8dff;
}

/* Content*/
main {
  background-color: #181818;
  color: #e6e6e6;
  font-size: 16px;
  margin-top: 30px;
  padding: 20px 10px;
}

main img {
  max-width: 100%;
}

.post {
  margin-bottom: 10px;
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-link {
  margin: 0;
}

.post-list li {
  margin-bottom: 20px;
}

footer {
  background-color: #181818;
  color: white;
  padding: 5px;
}
