/* Chris Dill - Main stylesheet */

/* General */
body {
  background: url(/assets/images/background1.webp) no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  width: 45px;
  border-radius: 5px;
}

.navbar-brand {
  font-size: 1.5rem;
  padding: 0;
}

nav li {
  padding: 5px 10px;
  font-size: 1.2rem;
  text-align: center;
}

/* Link effects for the top nav bar */
nav a:hover {
  text-decoration: underline;
}

/* Main content*/
main {
  color: white;
  font-size: 18px;
  margin-top: 30px;
  padding: 20px 10px;
}

main img {
  max-width: 100%;
}

.post {
  margin-bottom: 10px;
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-link {
  margin: 0;
}

.post-list li {
  margin-bottom: 20px;
}

/* Footer after content */
footer {
  padding: 5px;
}
