
/* Light theme */
:root {
  --background-color: #181818;
  --headings-color: #ffffff;
  --font-color: #e6e6e6;
  --line-color: #ffffff;
  --header-color: #255c99;
  --nav-link-color: #ffffff;
  --nav-link-hover-color: #ffffff;
  --link-color: #55bbff;
  --link-color-hover: #ffffff;
}

/* Dark theme */
html[data-theme='dark'] {
  --background-color: #181818;
  --headings-color: #ffffff;
  --font-color: #e6e6e6;
  --line-color: #2d2d2d;
  --header-color: #255c99;
  --nav-link-color: #ffffff;
  --nav-link-hover-color: #ffffff;
  --link-color: #55bbff;
  --link-color-hover: #ffffff;
}

body {
  background: url(/assets/images/background1.webp) no-repeat center center fixed;
  background-size: cover;
  color: var(--font-color);
  margin: 0 auto;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: var(--headings-color);
  font-weight: bold;
}

hr {
  background-color: var(--line-color);
}

.icon {
  width: 24px;
}

.logo {
  border-radius: 5px;
  width: 45px;
  margin-right: 10px;
}

.navbar-brand {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0;
}

/* Main bar at top */
header {
  border-bottom: 2px solid #ffffff;
  background-color: var(--header-color);
  color: var(--font-color);
}

nav li {
  color: var(--nav-link-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
}

/* Link effects for nav */
nav li a {
  color: var(--footer-color);
  text-decoration: none;
}

nav li a:hover {
  border-bottom: 3px solid var(--font-color);
  color: var(--font-color);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a:hover, main a:hover, footer a:hover {
  color: var(--link-color-hover);
}

/* Content */
main {
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: 16px;
  margin-top: 25px;
  padding: 10px;
}

.group-heading {
  margin: 0;
}

/* Link effects */
main a, footer a {
  color: var(--link-color);
}

main img {
  max-width: 100%;
}

.post {
  margin-bottom: 20px;
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-link {
  margin: 0;
}

.post-list li {
  margin-bottom: 20px;
}

footer {
  background-color: var(--background-color);
  color: var(--font-color);
  margin-bottom: 25px;
  margin-top: 20px;
  padding: 5px;
}
