
:root {
  --font1: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font2: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* Dark theme */
:root {
  --background-color: #333333;
  --header-color: #181818;
  --border-color: #dc7d29;
  --headings-color: #ffffff;
  --font-color: #e6e6e6;
  --line-color: #808080;
  --nav-link-color: #55bbff;
  --nav-link-color-hover: #ffffff;
  --link-color: #55bbff;
  --link-color-hover: #ffffff;
}

/* Light theme */
html[data-theme="light"] {
  --background-color: #ffffff;
  --header-color: #eaeaea;
  --headings-color: #181818;
  --font-color: #181818;
  --line-color: #181818;
  --nav-link-color: #2599fd;
  --nav-link-color-hover: #000000;
  --link-color: #2599fd;
  --link-color-hover: #000000;
}

/* Smaller default on large screen. */
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}

/* General */
body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font2);
  margin: 0 auto;
  line-height: 1.6;
}

h1, h2, h3, h4, h5 {
  color: var(--headings-color);
  font-family: var(--font1);
  font-weight: bold;
  line-height: 1.2;
}

hr {
  background-color: var(--line-color);
}

.icon {
  width: 24px;
}

.logo {
  border-radius: 5px;
  width: 40px;
  margin-right: 0.4rem;
}

.navbar-brand {
  color: var(--headings-color) !important;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0;
}

/* Navigation */
header {
  border-bottom: 3px solid var(--border-color);
  background-color: var(--header-color);
  color: var(--font-color);
  font-family: var(--font1);
}

nav {
  max-width: 1200px;
  margin: 0 auto;
}

nav li {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

/* Link effects */
nav li a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 4px 8px;
  transition: color 0.1s linear;
}

nav li a:hover {
  border-bottom: 2px solid var(--nav-link-color-hover);
  color: var(--nav-link-color-hover);
  text-decoration: none;
}

/* Content */
main {
  color: var(--font-color);
  font-size: 16px;
  margin-top: 30px;
  padding: 10px;
}

main a, footer a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.1s linear;
}

main a:hover, footer a:hover {
  border-bottom: 2px solid var(--link-color-hover);
  color: var(--link-color-hover);
  text-decoration: none;
}

main img {
  max-width: 100%;
}

.group-title {
  border-bottom: 2px solid var(--line-color);
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.group-title h1 {
  margin: 0;
  line-height: 1;
}

.group-title span {
  margin: 0;
}

/* Blog */
.post-list {
  list-style: none;
  padding: 0;
}

.post {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.post-link {
  font-size: 1.4rem !important;
  line-height: 1;
  margin: 0;
}

.post-meta {
  font-size: 0.9rem !important;
}

.post-list li:last-child {
  margin-bottom: 0px;
}

footer {
  border-top: 3px solid var(--border-color);
  color: var(--font-color);
  font-family: var(--font1);
  margin: 30px 0px;
}
