---
---
/* Chris Dill - Main stylesheet */

/* General */
body
{
  background: url(../assets/background1.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.8;
}

h1, h2, h3
{
  line-height: 1.2;
}

/* Nav bar logo */
.logo
{
  width: 46px;
}

.navbar-brand
{
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

nav li
{
  margin-left: 12px;
  margin-right: 12px;
  font-size: 18px;
  text-align: center;
}

/* Link effects for the top nav bar */
nav a:hover
{
  text-decoration: underline;
}

/* Main content*/
main
{
  color: white;
  font-size: 18px;
  margin-top: 30px;
  padding: 30px;
}

main img
{
  max-width: 100%;
}

/* Footer after content */
footer
{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 30px;
}
